body {
    margin: 0;
    line-height: normal;
  }
  .lo-icon,
  .polygon-icon {
    position: absolute;
    top: 133px;
    left: 254px;
    width: 746px;
    height: 761px;
  }
  .polygon-icon {
    top: 147.01px;
    left: 338.01px;
    width: 566.43px;
    height: 446.37px;
    cursor: pointer;
  }
  .about {
    position: relative;
    background: linear-gradient(112.96deg, #780dff, rgba(12, 11, 13, 0));
    width: 100%;
    height: 2143px;
    overflow: hidden;
  }
  