body {
    margin: 0;
    line-height: normal;
  }
  .lo-icon2,
  .polygon-icon2 {
    position: absolute;
    top: 814px;
    left: 221px;
    width: 746px;
    height: 761px;
  }
  .polygon-icon2 {
    top: 938.01px;
    left: 298.01px;
    width: 566.43px;
    height: 446.37px;
    cursor: pointer;
  }
  .services {
    position: relative;
    background: linear-gradient(112.96deg, #780dff, rgba(12, 11, 13, 0));
    width: 100%;
    height: 2143px;
    overflow: hidden;
  }
  